<form method="post" action="/sessions">
	<input type="text" name="user[email]" placeholder="email">
	<input type="password" name="user[password]" placeholder="password">
	<input type="submit" value="Login">
</form>