<form class="full_entry_form" method="post" action="/entries">
	<input class="new_entry_input" type="text" name="entry[description]" placeholder="what needs to get done?">
	<input type="hidden" name="entry[user_id" value="<%= current_user.id %>">
	<input type="submit" value="add">
</form>