

*{
	box-sizing: border-box;
  outline: none;
}

a {
	text-decoration: none;
}

html{
  background-image: url("https://unsplash.it/1900/1200?image=486");
}

header {
	background-color: white;
	margin:auto;
	width:100%;
	top:0;
	height:5em;
	position: fixed;
	text-align: center;
}

.header_item {
	display:inline-block;
}

.header_item_right {
  display: inline-block;
	float: right;
  margin:15px 10px 10px 10px;
	font-size: 120%;
	padding-top: 18px;
	color:black;
}

.new_entry_button:after  {
	padding-bottom:2px;
	display:block;
  content: '';
  border-bottom: solid 3px black;  
  transform: scaleX(0.0001);  
  transition: transform 300ms ease-in-out;
}

.new_entry_button:hover:after {
  transform: scaleX(1);
}

.profile_button:after  {
	padding-bottom:2px;
	display:block;
  content: '';
  border-bottom: solid 3px black;  
  transform: scaleX(0.0001);  
  transition: transform 300ms ease-in-out;
}

.profile_button:hover:after {
  transform: scaleX(1);
}

.login_button:after  {
	padding-bottom:2px;
	display:block;
  content: '';
  border-bottom: solid 3px black;  
  transform: scaleX(0.0001);  
  transition: transform 300ms ease-in-out;
}

.login_button:hover:after {
  transform: scaleX(1);
}

.register_button:after  {
	padding-bottom:2px;
	display:block;
  content: '';
  border-bottom: solid 3px black;  
  transform: scaleX(0.0001);  
  transition: transform 300ms ease-in-out;
}

.register_button:hover:after {
  transform: scaleX(1);
}


.header_item_left {
	float: left;
	margin-left:1%;
}

.container {
	background-image:url("https://s-media-cache-ak0.pinimg.com/originals/12/44/0c/12440c6da1fee88f37be82d9f0088f46.jpg");
	top:150px;
  margin: 200px auto;
  width: 800px;
  padding: 0px 10px 10px 10px;
  box-shadow: 8px 8px 5px #888888;
  border-radius: 2%;
}

.name_on_list {
	padding-top:10%;
	padding-bottom:4%;
	font-family: Courier, monospace;

}

.entry_description {
	font-family: Chalkduster, fantasy;
	margin:19px 0px;
	width:550px;

}

.new_entry_input {
	width:400px;
	padding-top:2px;
}

.completed {
	text-decoration: line-through;
	color:red;
}

.title {
	color:black;
}

.edit_button{
	font-family: Chalkduster, fantasy;
	background-color: transparent;
	height:50px;
	font-size: 120%;
	border:none;
}

.logout_button{
	background-color: transparent;
	border:none;
  display: inline-block;
  padding-bottom: 5px;
  margin-top: -6px;
}


.new_button {
  background-color: white;
  border:none;
}

/*.new_entry_form {
  margin-top: 11px;
}*/

.form_right {
  margin-top: 11px;
}