
<form method="post" action="/users">
	<input type="text" name="user[first_name]" placeholder="first name">
	<input type="text" name="user[last_name]" placeholder="last name">
  <input type="text" name="user[email]" placeholder="email">
	<input type="text" name="user[phone_number]" placeholder="1(555)867-5309">
	<input type="password" name="user[password]" placeholder="password">
	<input type="submit" value="Register">
</form>
