<ul class="items_list">
				<h2 class="entry_description"> 	walk the dog</h2>
				<h2 class="entry_description"> 	clean the house</h2>
				<h2 class="entry_description"> 	grocery shopping</h2>
				<h2 class="entry_description"> 	get the car washed</h2>
				<h2 class="entry_description"> 	go to the gym</h2>
				<h2 class="entry_description"> 	call parents</h2>
				<h2 class="entry_description"> 	buy jeans</h2>
				<h2 class="entry_description"> 	mow the lawn</h2>
				<h2 class="entry_description"> 	do the dishes</h2>
				<h2 class="entry_description"> 	pay cable bill</h2>
				<h2 class="entry_description">get oil change</h2>
	</ul>