<div class="container">
<% if current_user%>
	<h1 class="name_on_list"><%= current_user.name_for_header %></h1>
	<ul class="items_list">
		<% current_user.entries.each do |entry| %>
			<% if !entry.completed %>
				<%= erb :"_entry_partial", layout: false, locals:{entry: entry} %>
				
			<% end %>
		<% end %>
	</ul>
<% end %>

</div>



